@media screen and (min-width: 900px) {
  .header {
      left: 5vw;
      right: 5vw;
      width: 90vw;
  }
}

.header {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
  flex-wrap: nowrap;
  z-index: 5;
  position: fixed;
  max-width: 900px;
  width: 100vw;
  top: 5px;
  /* left: 5vw;
  right: 5vw; */
  margin: 0 auto;
}

.link {
  color: #1B1A3D;
  appearance: none;
  text-decoration: none;
  height: 39px;
  font-size: 15px;
  line-height: 39px;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 1px #ccc;
  align-self: stretch;
  padding: 0px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header::-webkit-scrollbar {
  display: none;
}
